<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="Filme suchen" 
  (ionInput)="onSearchInput($event)"
  [(ngModel)]="searchText"
  debounce="500"
  ></ion-searchbar>
<ion-list>
  <ion-list-header>Filmdatenbank</ion-list-header>
  <ion-item-sliding *ngFor="let movie of movies">
 <ion-item>
   <ion-thumbnail item-left  >
      <img *ngIf="movie.Poster !== 'N/A'" src="{{movie.Poster}}" >
   </ion-thumbnail>
   <b><h2>{{movie.Title}}</h2></b><br>
   {{movie.Year}}<br>
   {{movie.Type}}
 </ion-item>
 <ion-item-options>
   <button ion-button>
     <ion-icon name="star"></ion-icon>
   </button>
 </ion-item-options>
</ion-item-sliding>
</ion-list>
</ion-content>
